<!doctype html>
<html lang="en">
<meta name="viewport" content = "width=device-width,initial-scale=1">
<head>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
	var pixelValues = ["FFFFFF"];
	var socket = io();
	var curIndex = 0;
	var width = 0;
	var height = 0;
	var used = 0;
    $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
	  var coords = document.getElementById("coords").value.split(",")
	  var location = {x:coords[0],y:coords[1]};
	  console.log(location);
	  socket.emit('submitted location', location);
	  
	  if(isSeatValid(location, width, height)){
		document.getElementById("location_form").style.display = "none";
		document.getElementById("dimensions").style.display = "none";
      }else{
		alert("Please enter a valid seat");
	  }
	  
//	  document.getElementById("testText").innerHTML = width;
	  return false;
    });
	
	
	socket.on("give dimensions", function(dimensions){
		width = dimensions.width;
		height = dimensions.height;
		document.getElementById("dimensions").innerHTML = "Current data dimensions: " + width.toString()+"x"+height.toString();
	});
	socket.on('count change', function(newnum){
		document.getElementById("count").innerHTML = newnum;
	});
	
	socket.on('initial setup', function(color_array){
		pixelValues = color_array;
		console.log(pixelValues);
	})
	
	socket.on('update colors', function(index){
		console.log(pixelValues[index]);
		document.body.style.backgroundColor = "#"+pixelValues[index];
	});
	
	});
</script>
<script>
	function isNumeric(n) {
		return !isNaN(parseFloat(n)) && isFinite(n);
	}
	function withinBounds(locat, width, height){
		if(locat.x < width && locat.y < height){
				return true;
		}
		console.log("A");
		return false;
	}
	function seatInUse(locat){
		return false;
		//TODOreturn (used[locat.x][locat.y]);
	}
	function isSeatValid(locat, width, height, used){
		if(isNumeric(locat.x) && isNumeric(locat.y) && withinBounds(locat,width,height) && !seatInUse(locat)){
			return true;
		}
		return false;
	}
</script>    

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
<title>Web Pixel Map</title>
	<link rel="stylesheet" type = "text/css" href="style.css">
  </head>
  <body>
    <p id="count">0</p>
	<p id= "dimensions">0x0</p>
	<form id = "location_form" action="">
		
        XY Coord:<br>
		<input type="text" id="coords" placeholder = "X,Y" pattern="[0-9]{1,}+,+[0-9]{1,}"><br>
		<!--Y Coord:<br>
		<input type="number" id="y_coord" min = 0>--><button>Send</button>
    </form>
  </body>
</html>
