<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Web Pixel Map</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { padding: 3px; position: relative; bottom: 0; width: 50%; }
      form button { width: 20%; background: rgb(130, 224, 255); border: none; padding: 10px; }

    </style>
  </head>
  <body>
    <p id="count">0</p>
	<p id="testText">Ignore</p>
	
	<form id = "location_form" action="">
	
        X Coord:<br>
		<input type="number" id="x_coord" min = 0><br>
		Y Coord:<br>
		<input type="number" id="y_coord" min = 0><button>Send</button>
    </form>
  </body>
</html>
